/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    font: normal 1.125rem/160% 'PT Sans', sans-serif;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* ===== Numéro 3f (déplacé) ===== */
header {
    padding: 20px 0;
}

/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-self: center;
    gap: 20px;
    font: 700 2.5rem Nunito, sans-serif;
    text-decoration: none;
    color: #444;
}

/* ===== Numéro 3c ===== */

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}


/* ===== Numéro 3d ===== */

.menu a {
    color: #000;
    font: bold 0.875rem 'PT Sans', sans-serif;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0);

    text-transform: uppercase;
    text-decoration: none;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid #000;
}

/* ===== Numéro 4a ===== */

.hero {
    background: url('../images/hero.jpg') no-repeat center right/cover;
}

/* ===== Numéro 4b ===== */
.hero .wrapper {
    display: flex;
    min-height: 650px;
    flex-direction: column;
    justify-content: center;
}

.contenu{
    display: block;
}

/* ===== Numéro 4c ===== */
.hero .contenu{
    max-width: 50%;
    color: #fff;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    font: 100 6.25rem/100% Nunito, sans-serif;
    margin: 0 0 20px;
    color: #F2545B;
}

/* ===== Numéro 5c (déplacé) ===== */

.athletes {
    padding: 100px 0;
}

/* ===== Numéro 5a ===== */

.athletes h2 {
    font: bold 3.125rem Nunito, sans-serif;
    letter-spacing: 0.05em;
    margin: 0 0 50px;
}


/* ===== Numéro 5b ===== */

.athletes p {
    margin: 0 0 50px;
}

/* ===== Numéro 5d ===== */
.athletes-photos {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
    max-width: 100%;
    max-height: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
    grid-column: span 2;
    grid-row: span 2;
}


/* ===== Numéro 6a ===== */
footer {
    background-color: #000;
}

footer .wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
}

/* ===== Numéro 6b ===== */

.menu-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}



/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/